.containe {
  width: 70%;
  margin: auto;
  text-align: center;
}

.result
{
  width:50%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #34383f;
}

.restart-btn {
 
  margin-top : 50px;
  padding-left: 35px;
  padding-right: 35px;
  
   position: relative;
   top: 15%;
   left: 50%;
   -ms-transform: translate( -50%);
   transform: translate( -50%);
 
   text-align: center;
   
   font-family: 'Lobster', cursive;

   font-size: 4rem;
   color: #4ccabc;
   letter-spacing: 8px;
   background-color: #34383f;

  margin: 10;
  padding: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #34383f;

  width: 350px;
  height: 130px;
  border: none;
  outline: none;
  color: #4ccabc;
  
  background: #34383f;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.restart-btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -4px;
  left:-4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  animation: glowing 28s linear infinite;
 
  transition: opacity .5s ease-in-out;
  border-radius: 5px;
  opacity: 1;
}

.restart-btn:active {
  color: #000000;
  opacity: 1;
}

.restart-btn:active:after {
  background: transparent;
}

.restart-btn:hover:before {
  opacity: 1;
  
}

.restart-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #34383f;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

h3 {
  position: relative;
  padding-top: 40px;
  margin: 10px;
  font-family: 'Belanosima';
  text-shadow: 1px 0 #232931;
  font-size: 3rem;
  color: #4ccabc;
  letter-spacing: 2px;
}

p {
  font-size: 25px;
  color: #4ccabc;
  font-family: 'Dancing Sript', cursive;
  letter-spacing: 2px;
  padding-top: 25px;
  text-shadow: 1px 0 #232931;
}

img {
  width: 57%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
